# Docker volumes
postgres_data/
dynamodb_data/

# Dependencies
node_modules/
.pnp
.pnp.*

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Misc
*.pem
*.swp
*.swo
*~
Thumbs.db